@import url('../../../theme');

:global {
  .ant-input-password {
    .ant-input-suffix {
      top: -20px;

      i {
        font-size: 16px;
      }
    }
  }
  .ant-input {
    line-height: 60px;
    height: 60px;
    border-radius: 0;
    border-color: #999;

    font-size: 16px;
    color: #000;

    &:focus,
    &:hover {
      box-shadow: none;
      border-color: @primary-color !important;
      border-width: 2px !important;
    }
  }
}
