@import url('../../theme');

.style-form {
  margin-top: 45px;
  :global {
    .ant-form-item-label {
      label {
        font-size: 16px;
        color: #000;
      }

      .ant-btn {
        font-size: 16px;
        background: red;
      }
    }
  }
}
