@import 'utils/nprogress/nprogress.css';
@import './theme.less';
@import '~antd/dist/antd.less';

@primary-color: #fff;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}
:global {
  p {
    margin: 0;
    line-height: 1;
  }
  // Buttons
  .ant-btn.ant-btn-primary:hover,
  .ant-btn.ant-btn-primary:focus {
    background: #107c88 !important;
    border-color: #107c88 !important;
    color: #fff !important;
  }
  .ant-btn:hover,
  .ant-btn:focus {
    border-color: #000 !important;
    color: #000 !important;
  }
  // Tabs
  .ant-tabs-bar {
    border-bottom: none !important;
  }

  //datePicker
  .ant-calendar-picker {
    .ant-input {
      border: unset;
      &:focus {
        box-shadow: unset;
        border-color: @picker-border-hover-color;
      }
    }
  }
  .ant-tag {
    border-color: @tag-default-bg !important;
  }
}

.safe-container {
  width: 1320px;
  margin: 0 auto;
}
