@import 'utils/nprogress/nprogress.css';

@primary-color: #fff;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}
:global {
  p {
    margin: 0;
    line-height: 1;
  }
}
