@disabled-color:rgba(0,0,0,.25);

// antd colors
@primary-color:#0e94a3;

// pagination
@pagination-disabled-color:rgba(0,0,0,.25);

//tag
@tag-default-bg:#c6dbf1;

//datePicker
@picker-border-color:rgba(0,0,0,.15);
@picker-border-hover-color:@primary-color;