.cr-loginlayout {
  width: 100%;
  height: 100vh;
  background: url(assets/images/login/loginbg.png) no-repeat center 0;

  .cr-login-container {
    height: 100vh;
    width: 560px;
    background: rgba(225, 225, 225, 0.9);
  }
}
